/* Footer css styles */

.Foot-text {
    text-align: center;
    font-family: Arial;
    font-weight: bold;
    padding: 40px;
    background-color: blue;
    color: white;
}

.below {
   font-size: 20px;
   font-weight: bold;
   font-family: Arial; 
}

.Get-Started {
    border-radius: 10px;
    color: #FFFFFF;
    font-family: Brush Script MT;
    font-size: 20px;
    font-weight: 10;
    padding: 5px;
    background-color: #38C978;
    border: solid black 1px;
    text-decoration: none;
    text-align: center;
    width: 180px;
    margin: 20px;
    float: right;
    font-weight: bold;
}

.Get-Started:hover {
    background: yellow;
    border-radius: 10px;
    text-decoration: none;
}

.chat-with-us {
    border-radius: 10px;
    color: #0059A0;
    font-family: Brush Script MT;
    font-size: 20px;
    font-weight: 10;
    padding: 5px;
    background-color: white;
    border: solid black 1px;
    text-decoration: none;
    text-align: center;
    width: 160px;
    margin: 20px;
    float: left;
    font-weight: bold;
}
 
.chat-with-us:hover {
    background: yellow;
    border-radius: 10px;
    text-decoration: none;
}

a{
    text-decoration: none;
}

ul li{
    display: inline-block;
}

li {
    font-size: 13px;
    padding: 10px;
}

/* Image Left and Text Right2 */

.pictextcontainer2 {
    padding: 80px;
}

.getpaidsoon {
    text-align: center;
    padding: 40px;
    color: white;
    padding-top: 100px;
}

.fitnessgram {
    padding: 20px;
    float: left;
    color: white;
    font-weight: bold;
}

.col-lg-6 {
    background-color: blue;
    border-radius: 0 20px 20px 0;
}

.personimg2 {
    float: right;
    padding: 40px;
}

/* Centered Text 2 */

.centertext2 {
    margin: auto;
    width: 35%;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

/* Image Left and Text Right1 */

.col-lg-4 {
    border-radius: 20px 0 0 20px;
}

.Hungry {
    text-align: center;
    padding: 40px;
    color: white;
    padding-top: 100px;
    width: 70%;
}

.personimg1 {
    float: right;
    padding: 40px;
}

.diet {
    padding: 20px;
    float: left;
    color: white;
    font-weight: bold;
    padding-bottom: 60px;
}

.col-lg-4 {
    border-radius: 20px 0 0 20px;
}


/* Centered Text 1 */

.centertext1 {
    margin: auto;
    width: 35%;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.centertitle1 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding: 20px;
}

/* Divider Line */

hr {
    margin: 0 auto;
}

.dividing-line {
    padding-top: 70px;
    padding: 30px;
}
