.Icon-mid-text {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.padding27 {
    padding-bottom: 50px;
}

.image-text-bottom {
    font-size: 24px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
}

.moretextmorewords {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

.Learnmorebutton {
    border-radius: 10px;
    color: black;
    font-family: Brush Script MT;
    font-size: 20px;
    font-weight: 10;
    padding: 5px;
    background-color: white;
    border: solid black 1px;
    text-decoration: none;
    text-align: center;
    margin: 20px;
    float: center;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
}

.Learnmorebutton:hover {
    background: yellow;
    border-radius: 10px;
    text-decoration: none;
}

.buttonsssss {
    padding-bottom: 100px;
}