.Icon-mid-text {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.padding27 {
    padding-bottom: 50px;
}

.image-text-bottom {
    font-size: 24px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
}

.moretextmorewords {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

.Learnmorebutton {
    border-radius: 5px;
    color: black;
}

a {
    text-decoration: none;
}

/* Footer css styles */

.Foot-text {
    text-align: center;
    font-family: Arial;
    font-weight: bold;
    padding: 40px;
    background-color: blue;
    color: white;
}






.below {
   font-size: 20px;
   font-weight: bold;
   font-family: Arial; 
}

.Get-Started {
    border-radius: 5px;
    color: #FFFFFF;
    /* font-family: Brush Script MT; */
    font-size: 20px;
    font-weight: 5;
    padding: 5px;
    background-color: #38C978;
    border: solid black 1px;
    text-decoration: none;
    text-align: center;
    width: 180px;
    margin: 20px;
    float: right;
    font-weight: bold;
}

.Get-Started:hover {
    background: yellow;
    border-radius: 5px;
    text-decoration: none;
}

.chat-with-us {
    border-radius: 5px;
    color: #0059A0;
    /* font-family: Brush Script MT; */
    font-size: 20px;
    font-weight: 5;
    padding: 5px;
    background-color: white;
    border: solid black 1px;
    text-decoration: none;
    text-align: center;
    width: 180px;
    margin: 20px;
    float: left;
    font-weight: bold;
}
 
.chat-with-us:hover {
    background: yellow;
    border-radius: 5px;
    text-decoration: none;
}

a{
    text-decoration: none;
}

ul li{
    display: inline-block;
}

li {
    font-size: 13px;
    padding: 10px;
}


/* Image Left and Text Right1 */

.Hungry {
    text-align: center;
    color: white;
    padding-top: 100px;
    float: left;
    padding-left: 15px;
}

.personimg1 {
    padding: 40px;
    padding-top: 80px;
}

.diet {
    padding: 20px;
    float: left;
    color: white;
    padding-bottom: 60px;
    font-size: 13px;
}

.col-lg-4 {
    border-radius: 20px 0 0 20px;
}

.col-lg-6 {
    background-color: blue;
    border-radius: 0 20px 20px 0;
}

.pictextcontainer2 {
    padding: 80px;
    padding-bottom: 150px;
}

.middletextlazy {
    padding: 20px;
    color: white;
    width: 70%;
    font-weight: bold;
    font-size: 20px;
    float: left;
}

.Learnmore {
    border-radius: 10px;
    color: #FFFFFF;
    font-family: Brush Script MT;
    font-size: 20px;
    font-weight: 10;
    padding: 5px;
    background-color: blue;
    border: solid white 2px;
    text-decoration: none;
    text-align: center;
    width: 250px;
    float: left;
    font-weight: bold;
    margin-bottom: 40px;
    margin-top: 30px;
}

.Learnmore:hover {
    background: yellow;
    border-radius: 10px;
    text-decoration: none;
}


.buttonsssss {
    padding-bottom: 100px;
}

